*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Helvetica";
}
.navbar{
  background-color: #F1F3FF;
}
.nav-item{
  padding-left: 32px;
}
.nav-link{
  font-size: 14px;
}
.btn{
  color: #ffff;
  background-color: #5CB85F;
  border-radius: 2px;
  border: none;
  font-size: 14px;
}
.star-col{
  padding-top: 5rem;
}
.our-services{
  padding-top: 5rem;
}
.best-car{
  padding-top: 3rem;
}
.why-us{
  padding-top: 5rem;
}
.testi-test{
  padding-top: 5rem;
}
.photo1{
  padding-left: 100px;
  padding-top: 30px;
}
.photo2{
  padding-left: 100px;
  padding-top: 30px;
}
.card-banner{
  text-align: center;
  color: #FFFFFF;
  background-color: #0d28a6;
  border-radius: 13px;
  padding: 30px 60px;
  height: 400px;
}
.faq-row{
  padding-top: 5rem;
}
.card-carousel{
  background: #F1F3FF;
  /* Shadow/Low */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 50px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
  height: 100px;
  width: 100px;
  outline: black;
  /* background-size: 100%, 100%; */
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  background-image: none;
}
.carousel-control-next{
  right: 180px !important;
}
.carousel-control-prev{
  left: 170px !important;
}

.carousel-control-next-icon:after{
  content: '>';
  font-size: 55px;
  color: black;
}
.carousel-control-prev-icon:after{
  content: '<';
  font-size: 55px;
  color: black;
}
.row-footer{
  padding-top: 5rem;
}
@media (max-width: 526px) {
  .card-banner {
      height: 500px;
      font-size: 14px;
  }
}